@import "../../styles/variables.scss";

.editor-frame {
  background-color: $light-blue-color;
  width: 100%;
  min-height: 200px;
  display: flex;
  gap: 4rem;
  padding: 3rem;

  &--box {
    background: white;
    flex: 1;
    padding: 0.5em 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  &--box-title {
    font-size: $medium-font-size;
    flex: 1;
    border-radius: 5px;
    background: $gray-color;
    color: white;
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    padding: 0.1em 0;
  }
  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    gap: 2rem;
    &--box {
      padding-bottom: 1.5em;
    }
    &--box-title {
      font-size: $small-font-size;
      padding: 0;
    }
  }
}

.editor-info {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 3;
  margin: 0.5em 0;

  &--img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  &--name {
    font-size: $small-font-size;
  }
  &--sns-item {
    margin: 0.5em;
  }
  @media screen and (max-width: $mobile-width) {
    margin: 2em 0;
    &--img {
      width: 30px;
      height: 30px;
    }
    &--name {
      font-size: $very-small-font-size;
    }
  }
}
