@import "./variables.scss";

.header-container {
  position: relative;
  &--brain-wave {
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: -25%;
  }
  @media (max-width: $mobile-width) {
    &--brain-wave {
      bottom: 0%;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  font-family: $armata-font-family;
  position: relative;
  z-index: 10;
  &--logo {
    font-size: $large-font-size;
    flex: 1;
  }
  &--index {
    display: flex;
    flex: 2;
    font-size: $medium-font-size;
    justify-content: center;
  }
  &--index-about:hover,
  &--index-blog:hover {
    text-decoration: underline;
  }

  &--index-about {
    padding-left: 5rem;
  }

  &--lang {
    display: flex;
    flex: 0.5;
    font-size: $medium-font-size;
    justify-content: center;
  }
  &--lang-char:hover {
    text-decoration: underline;
  }
  &--lang-char.active {
    color: $red-color;
  }
  @media (max-width: $mobile-width) {
    &--logo {
      font-size: $medium-font-size;
      flex: 0.6;
    }
    &--index {
      color: white;
      font-size: $medium-font-size;
      margin-top: 10rem;
    }
    &--index-about {
      padding: 0;
      margin-top: 3rem;
    }
    &--index-about,
    &--index-blog {
      font-family: $armata-font-family;
    }
    &--index_menu-space {
      width: 30px;
    }
    &--lang {
      font-size: $very-small-font-size;
    }
  }
}

.footer {
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  font-size: $small-font-size;
  font-family: $armata-font-family;
  line-height: 50px;
  @media (max-width: $mobile-width) {
    font-size: $very-small-font-size;
  }
}

///Hamburger menu
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 26px;
  height: 23px;
  right: 20px;
  top: calc((80px - 25px) / 2); ///Align item to middle in header.
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $text-base-color !important;
  height: 15% !important;
  color: $text-base-color !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px !important;
  width: 30px !important;
  position: absolute !important;
  right: 20px !important;
  top: 50px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
  height: 24px !important;
}
.bm-overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
