@import "./common.scss";
@import "./variables.scss";

///About Top page
.top {
  position: relative;
  height: 90vh;
  &--gif {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  &--center-text {
    position: absolute;
    top: 50%;
    left: 15%;
    color: white;
    text-align: left;
    font-size: $very-large-font-size;
    font-family: $armata-font-family;
    line-height: 1.5;
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    font-weight: bold;
    span {
      white-space: pre-line;
      background: rgba(43, 74, 103, 0.6);
    }
  }
}
.top-blog {
  margin-top: -10vh;
  position: relative;
  z-index: 10;
  &--readmore {
    color: $red-color;
    border-radius: 15px;
    border: solid 2px $red-color;
    font-size: $medium-font-size;
    width: 230px;
    text-align: center;
    padding: 0.3em 0;
    margin: 0 auto 5rem auto;
    font-family: $armata-font-family;
  }
}
@media screen and (max-width: $mobile-width) {
  .top {
    &--center-text {
      color: white;
      font-size: $large-font-size;
    }
  }
  .top-blog {
    margin: -20vh auto 0 auto;
    width: 80vw;
    &--readmore {
      font-size: $small-font-size;
      width: 180px;
    }
  }
}
@media screen and (max-width: $ipad-width) {
  .top {
    &--center-text {
      color: white;
      span {
        background: rgba(43, 74, 103, 0.6);
      }
    }
  }
}

///About Blog page
.blog {
  display: flex;
  flex-direction: column;
  width: $content-width;
  margin: 5em auto;
  &--title {
    font-size: $large-font-size;
    font-weight: bold;
    color: white;
    font-family: $armata-font-family;
  }
  &--subtitle {
    padding-top: 1em;
    font-size: $medium-font-size;
    color: white;
    font-family: $armata-font-family;
  }
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 2rem;
  }
  @media screen and (max-width: $mobile-width) {
    width: 80%;
    &--title {
      font-size: $medium-font-size;
    }
    &--subtitle {
      font-size: $very-small-font-size;
    }
  }
}

.blog-container_bg {
  background-color: $light-gray-color;
  min-height: calc(100vh - 80px); //Gray bg color till end of top page.
}
.blog-container {
  margin: 5rem 0;
  &--filter {
    display: flex;
    margin: 4rem auto;
    justify-content: left;
    width: $content-width;
  }
  &--filter-item {
    font-size: $small-font-size;
    border: solid 1px $gray-color;
    border-radius: 10px;
    color: $gray-color;
    padding: 0.5em 1em;
    margin: 0 1rem;
  }
  &--filter-item.active {
    background-color: $gray-color;
    color: white;
  }
  &--filter-item:hover {
    cursor: pointer;
  }
  &--posts {
    display: grid;
    width: $content-width;
    margin: auto;
    grid-template-columns: 540px 540px;
  }
  @media screen and (max-width: $mobile-width) {
    &--posts {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    &--filter {
      width: 90%;
      margin: 3rem auto;
    }
    &--filter-item {
      font-size: $very-small-font-size;
      margin: 0 0.5rem;
      padding: 0.5em 0.7em;
    }
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 400px;
  box-shadow: 0 0 10px $gray-color;
  border-radius: 15px;
  cursor: pointer;
  margin: 2rem 1rem;
  animation: fadeIn 1.5s ease 0s 1 normal;
  &--pic {
    background: white;
    box-shadow: 0 0 2px $gray-color;
    text-align: center;
    height: 50%;
    border-radius: 15px 15px 0 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }
  &--container {
    padding: 0 2rem;
  }
  &--container-title {
    font-size: $medium-font-size;
    font-weight: 500;
    padding: 1rem 0;
    height: 4em;
    display: table-cell;
  }
  &--container-category {
    font-size: $small-font-size;
    background-color: $gray-color;
    color: white;
    width: 8em;
    padding: 0.3em 1em;
    border-radius: 10px;
    text-align: center;
  }
  &--container-subtitle {
    font-size: $small-font-size;
    margin: 1rem 0;
    overflow: hidden;
    min-height: 4.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    p {
      margin: 0;
    }
  }
  &--container-readmore {
    font-size: $small-font-size;
    color: $red-color;
    font-weight: 500;
    padding: 2rem 0;
  }

  &--date {
    border-top: solid 1px $gray-color;
    font-size: $small-font-size;
    padding: 1rem 2rem;
    color: $gray-color;
    margin-top: auto;
  }
  @media screen and (max-width: $mobile-width) {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    &--pic {
      img {
        width: 100%;
      }
    }
    &--container-title {
      font-size: $small-font-size;
    }
    &--container-subtitle {
      font-size: $very-small-font-size;
      min-height: auto;
    }
    &--container-category {
      font-size: $very-small-font-size;
      width: 120px;
    }
    &--container-readmore {
      font-size: $very-small-font-size;
    }
    &--date {
      font-size: $very-small-font-size;
    }
  }
  &:hover {
    background-color: $light-gray-color;
  }
}

.slides-container {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  margin: 5em auto;
  padding: 0 3em;
  animation: fadeIn 1.5s ease 0s 1 normal;

  @media screen and (max-width: $mobile-width) {
    width: 90%;
    padding: 0;
  }
}

/// About page.
.about {
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 0.1rem;
  }
  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }
  }
}

.about-container {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  padding: 0 3em;
  margin: auto;
  margin-top: 50px;
  animation: fadeIn 1.5s ease 0s 1 normal;
  &--index {
    margin: 10em 0;
  }
  &--index-image {
    width: 80%;
    margin: auto;
    display: block;
  }
  &--index-title {
    font-size: $large-font-size;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
  }
  &--index-subtitle {
    font-size: $medium-font-size;
    margin-top: 1em;
    color: $heavy-gray-color;
    line-height: 1.5em;
    text-align: center;
  }
  &--index-box {
    margin: 5rem auto;
  }

  @media screen and (max-width: $mobile-width) {
    width: 80%;
    padding: 3em 0;
    margin-top: 20px;
    &--index {
      margin: 0 0 5em 0;
    }
    &--index-title {
      font-size: $medium-font-size;
    }
    &--index-subtitle {
      font-size: $very-small-font-size;
    }
    &--index-subtitle-text {
      font-size: $sp-desc-small-font-size;
    }
  }
}

/// Slides page
.slides {
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 0.1rem;
  }
  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }
  }
}

/// slides-item page
.slides-item {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  padding: 5em 0;
  margin: auto;
  &--frame {
    position: relative;
    overflow: hidden;
    padding-top: 80%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  &--main {
    img {
      width: 100%;
    }
  }
  &--title {
    margin-top: 2rem;
    font-size: $medium-font-size;
    font-weight: 500;
  }
  &--subtitle {
    font-size: $small-font-size;
    margin-top: 1rem;
    line-height: 1.5em;
    color: $heavy-gray-color;
  }
  &--button {
    color: $red-color;
    border-radius: 15px;
    border: solid 2px $red-color;
    font-size: $medium-font-size;
    width: 230px;
    text-align: center;
    padding: 0.3em 0;
    margin: 5rem auto;
  }
  @media screen and (max-width: $mobile-width) {
    width: 90%;
    &--title {
      font-size: $small-font-size;
    }
    &--subtitle {
      font-size: $very-small-font-size;
    }
    &--button {
      font-size: $small-font-size;
      margin: 2rem auto;
    }
  }
}

//Evnets page
.events {
  &--bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 0.1rem;
  }

  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }

  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }
  }

  &--container {
    min-height: calc(100vh - 330px - 50px); ///Minus header and footer height.
    padding: 50px 0;

    &--divider {
      width: 100%;
      border-top: solid $blue-color 1px;
    }
  }
}

// Consulting page
.consulting {
  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }

  &--container {
    width: $content-width;
    text-align: center;
    margin: 2em auto;
    min-height: calc(100vh - 330px - 50px); ///Minus header and footer height.
  }

  &--alert {
    font-size: $small-font-size;
    text-align: center;

    &--cta {
      text-decoration: underline;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;

    &--explanation {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: flex-start;

      &--title {
        font-size: $medium-font-size;
        font-weight: 600;
        text-align: left;
      }

      &--description {
        font-size: $small-font-size;
        text-align: left;
        color: $heavy-gray-color;
      }

      &--cta {
        color: white;
        font-size: $small-font-size;
        border-radius: 5px;
        padding: 10px 30px;
        background-color: $deep-blue-color;
      }
    }

    &--image {
      &__wrapper {
        flex: 1;
      }

      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }

    &--container {
      width: 100%;
      padding: 0 2em;
      margin: 5em auto;
    }

    &--alert {
      font-size: $very-small-font-size;
    }

    &--content {
      flex-direction: column;
      margin-top: 40px;

      &--explanation {
        order: 2;

        &--description {
          font-size: $very-small-font-size;
        }

        &--cta {
          font-size: $very-small-font-size;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
