@import "./common.scss";
@import "./variables.scss";

///About Top page
.top {
  position: relative;
  height: 90vh;
  &--gif {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--header {
    position: absolute;
    top: 0;
    width: 100%;
  }
  &--center-text {
    position: absolute;
    top: 50%;
    left: 15%;
    color: white;
    text-align: left;
    font-size: $very-large-font-size;
    font-family: $armata-font-family;
    line-height: 1.5;
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    font-weight: bold;
    span {
      white-space: pre-line;
    }
  }
}
.top-blog {
  margin-top: -10vh;
  position: relative;
  z-index: 10;
  &--readmore {
    color: $red-color;
    border-radius: 15px;
    border: solid 2px $red-color;
    font-size: $medium-font-size;
    width: 230px;
    text-align: center;
    padding: 0.3em 0;
    margin: 0 auto 5rem auto;
    font-family: $armata-font-family;
  }
}
@media screen and (max-width: $mobile-width) {
  .top {
    &--center-text {
      color: white;
      font-size: $large-font-size;
      span {
        background: rgba(43, 74, 103, 0.6);
      }
    }
  }
  .top-blog {
    margin: -20vh auto 0 auto;
    width: 80vw;
    &--readmore {
      font-size: $small-font-size;
      width: 180px;
    }
  }
}

///About Blog page
.blog {
  display: flex;
  flex-direction: column;
  width: $content-width;
  margin: 5em auto;
  &--title {
    font-size: $large-font-size;
    font-weight: bold;
    color: white;
    font-family: $armata-font-family;
  }
  &--subtitle {
    padding-top: 1em;
    font-size: $medium-font-size;
    color: white;
    font-family: $armata-font-family;
  }
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 2rem;
  }
  @media screen and (max-width: $mobile-width) {
    width: 80%;
    &--title {
      font-size: $medium-font-size;
    }
    &--subtitle {
      font-size: $very-small-font-size;
    }
  }
}

.blog-container_bg {
  background-color: $light-gray-color;
  min-height: calc(100vh - 80px); //Gray bg color till end of top page.
}
.blog-container {
  margin: 5rem 0;
  &--filter {
    display: flex;
    margin: 4rem auto;
    justify-content: left;
    width: $content-width;
  }
  &--filter-item {
    font-size: $small-font-size;
    border: solid 1px $gray-color;
    border-radius: 10px;
    color: $gray-color;
    padding: 0.5em 1em;
    margin: 0 1rem;
  }
  &--filter-item.active {
    background-color: $gray-color;
    color: white;
  }
  &--filter-item:hover {
    cursor: pointer;
  }
  &--posts {
    display: grid;
    width: $content-width;
    margin: auto;
    grid-template-columns: 540px 540px;
  }
  @media screen and (max-width: $mobile-width) {
    &--posts {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
    &--filter {
      width: 90%;
      margin: 3rem auto;
    }
    &--filter-item {
      font-size: $very-small-font-size;
      margin: 0 0.5rem;
      padding: 0.5em 0.7em;
    }
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 400px;
  box-shadow: 0 0 10px $gray-color;
  border-radius: 15px;
  cursor: pointer;
  margin: 2rem 1rem;
  animation: fadeIn 1.5s ease 0s 1 normal;
  &--pic {
    background: white;
    box-shadow: 0 0 2px $gray-color;
    text-align: center;
    height: 50%;
    border-radius: 15px 15px 0 0;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }
  }
  &--container {
    padding: 0 2rem;
  }
  &--container-title {
    font-size: $medium-font-size;
    font-weight: 500;
    padding: 1rem 0;
    height: 4em;
    display: table-cell;
  }
  &--container-category {
    font-size: $small-font-size;
    background-color: $gray-color;
    color: white;
    width: 8em;
    padding: 0.3em 1em;
    border-radius: 10px;
    text-align: center;
  }
  &--container-subtitle {
    font-size: $small-font-size;
    margin: 1rem 0;
    overflow: hidden;
    min-height: 4.5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    p {
      margin: 0;
    }
  }
  &--container-readmore {
    font-size: $small-font-size;
    color: $red-color;
    font-weight: 500;
    padding: 2rem 0;
  }

  &--date {
    border-top: solid 1px $gray-color;
    font-size: $small-font-size;
    padding: 1rem 2rem;
    color: $gray-color;
    margin-top: auto;
  }
  @media screen and (max-width: $mobile-width) {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    &--pic {
      img {
        width: 100%;
      }
    }
    &--container-title {
      font-size: $small-font-size;
    }
    &--container-subtitle {
      font-size: $very-small-font-size;
      min-height: auto;
    }
    &--container-category {
      font-size: $very-small-font-size;
      width: 120px;
    }
    &--container-readmore {
      font-size: $very-small-font-size;
    }
    &--date {
      font-size: $very-small-font-size;
    }
  }
  &:hover {
    background-color: $light-gray-color;
  }
}

/// About page.
.about {
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 0.1rem;
  }
  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }
  }
}

.about-container {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  padding: 0 3em;
  margin: auto;
  animation: fadeIn 1.5s ease 0s 1 normal;
  &--index {
    margin: 10em 0;
  }
  &--index-image {
    width: 80%;
    margin: auto;
    display: block;
  }
  &--index-title {
    font-size: $large-font-size;
    font-weight: 500;
    text-align: center;
    margin-top: 5em;
  }
  &--index-subtitle {
    font-size: $medium-font-size;
    margin-top: 1em;
    color: $heavy-gray-color;
    line-height: 1.5em;
    text-align: center;
  }
  &--index-box {
    margin: 5rem auto;
  }

  @media screen and (max-width: $mobile-width) {
    width: 80%;
    padding: 3em 0;
    &--index {
      margin: 0 0 5em 0;
    }
    &--index-title {
      font-size: $medium-font-size;
    }
    &--index-subtitle {
      font-size: $very-small-font-size;
    }
    &--index-subtitle-text {
      font-size: $sp-desc-small-font-size;
    }
  }
}

.person-card {
  display: flex;
  flex-direction: row;
  margin: 7em 0;
  &--img-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--img-container-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  &--img-container-sns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &--img-container-sns-item {
    margin: 1em;
  }
  &--text {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
  }
  &--text-name {
    font-size: $medium-font-size;
    font-weight: 500;
  }
  &--text-role {
    font-size: $small-font-size;
    color: $heavy-gray-color;
  }
  &--text-description {
    margin-top: 1em;
    font-size: $small-font-size;
    color: $heavy-gray-color;
    line-height: 1.5em;
  }
  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
    margin: 4em 0;

    &--img-container-image {
      width: 50px;
      height: 50px;
    }
    &--text {
      padding-left: 0;

      text-align: center;
    }
    &--text-name {
      font-size: $small-font-size;
    }
    &--text-role,
    &--text-description {
      font-size: $sp-desc-small-font-size;
    }
  }
}

.contact-form {
  &--title {
    font-size: $large-font-size;
    font-weight: 500;
    text-align: center;
  }
  &--detail {
    width: 60%;
    text-align: left;
    margin: 5rem auto;
    input,
    label,
    textarea {
      width: 100%;
      font-size: $medium-font-size;
      line-height: 1.2em;
    }
  }
  &--detail-text {
    margin: 0.5em 0 2em 0;
    padding: 0.5em;
    border: solid 0.1px $gray-color;
    border-radius: 5px;
  }
  &--detail-submit {
    width: 100%;
    text-align: center;
    margin: 5em 0;
    button {
      font-size: $medium-font-size;
      padding: 0.5em 2em;
      background-color: $text-base-color;
      color: white;
      border-radius: 15px;
    }
    button:hover {
      cursor: pointer;
    }
  }
  &--done {
    font-size: $medium-font-size;
    text-align: center;
    margin: 10rem auto;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      font-size: $medium-font-size;
    }
    &--detail {
      width: 100%;
      input,
      label,
      textarea {
        font-size: $small-font-size;
      }
    }
    &--detail-text {
      margin-bottom: 1em;
    }

    &--detail-submit {
      button {
        font-size: $small-font-size;
      }
    }
    &--done {
      margin: 5rem 0;
      font-size: $small-font-size;
    }
  }
}

//Blog content page
.blog-content {
  width: $content-width;
  margin: 5em auto;
  min-height: calc(100vh - 80px - 5em);

  &--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  &--top-pic {
    width: 100%;
    text-align: center;
    img {
      width: 100%;
      border-radius: 10px;
      border: solid 3px $light-gray-color;
    }
  }

  &--top-info {
    display: flex;
    flex-direction: row;
    padding: 1em 1em 0 0;
    justify-content: flex-end;
    align-items: center;
  }

  &--top-info-category {
    background-color: $gray-color;
    border-radius: 10px;
    text-align: end;
    font-size: $small-font-size;
    color: white;
    padding: 0.3em 1em;
    margin: 0 1em;
  }

  &--top-info-date {
    font-size: $small-font-size;
    color: $gray-color;
  }
  &--draft {
    margin: 5rem 0;
  }
  &--draft-title {
    font-size: $large-font-size;
    font-weight: 500;
  }
  &--draft-text {
    margin: 1rem 8rem 0 8rem;
    font-size: $small-font-size;
    line-height: 2.5em;
    img {
      width: 80%;
      display: block;
      margin: auto;
    }
    em {
      text-align: center;
      display: block;
      font-size: $very-small-font-size;
    }
    strong {
      background: linear-gradient(transparent 60%, $marker-red-color 0%);
    }
    table {
      margin: auto;
      thead {
        background-color: $light-gray-color;
      }
    }
    table,
    th,
    td {
      border-collapse: collapse;
      border: 1px solid $gray-color;
      padding: 0.5em 2em;
    }
    blockquote {
      position: relative;
      padding: 0 2em;
      box-sizing: border-box;
      font-style: italic;
      background: #efefef;
      color: #555;
      white-space: pre-wrap;
      margin-bottom: 0.5em;
    }

    blockquote p {
      padding: 0;
      margin: 10px 0;
      line-height: 1.7;
    }

    blockquote cite {
      display: block;
      text-align: right;
      color: #888888;
      font-size: 0.9em;
    }
    h2 {
      border-bottom: solid 0.5px $gray-color;
      margin: 1em 0;
    }
  }
  a {
    text-decoration: underline;
  }
  @media screen and (max-width: $mobile-width) {
    width: 90%;
    &--top-pic {
      max-height: 200px;
      img {
        height: auto;
        width: 100%;
      }
    }
    &--top-info-category,
    &--top-info-date {
      font-size: $very-small-font-size;
    }
    &--draft-title {
      font-size: $small-font-size;
    }
    &--draft-text {
      font-size: $very-small-font-size;
      margin: 1rem;
      line-height: 2em;
      em {
        font-size: $sp-desc-small-font-size;
      }
      table,
      th,
      td {
        padding: 0 0.5em;
      }
      blockquote {
        margin: 1em 0.5em;
        padding: 0 1em;
      }
      img {
        width: 100%;
      }
    }
  }
}

/// Slides page
/// About page.
.slides {
  &__bg {
    background-image: linear-gradient(
      to bottom right,
      $blue-color,
      $deep-blue-color
    );
    padding-bottom: 0.1rem;
  }
  &--title {
    width: $content-width;
    margin: 2em auto;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $armata-font-family;
    color: white;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      width: 80%;
      margin: 1.5em auto;
      font-size: $medium-font-size;
    }
  }
}

.slides-container {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  margin: 5em auto;
  padding: 0 3em;
  animation: fadeIn 1.5s ease 0s 1 normal;
  &--content {
    display: flex;
    flex-direction: row;
    margin: 6em auto;
    min-height: 250px;
    border-radius: 30px;
    box-shadow: 0 0 10px $gray-color;
    padding: 3rem 5rem;
  }
  &--content-image {
    flex: 1;
    text-align: center;
    img {
      height: 100%;
      width: 80%;
      object-fit: cover;
    }
  }
  &--content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  &--content:hover {
    cursor: pointer;
    background-color: $light-gray-color;
  }
  @media screen and (max-width: $mobile-width) {
    width: 90%;
    padding: 0;
    &--content {
      flex-direction: column;
      padding: 2rem 0;
      margin: 3em auto;
    }
    &--content-image {
      img {
        width: 90%;
      }
    }
  }
}

.content-text {
  &--title {
    font-size: $medium-font-size;
    font-weight: 500;
    padding-left: 3rem;
  }
  &--subtitle {
    font-size: $small-font-size;
    line-height: 1.5em;
    color: $heavy-gray-color;
    padding: 1rem 0 0 3rem;
  }
  @media screen and (max-width: $mobile-width) {
    &--title {
      font-size: $small-font-size;
      padding: 1rem 1.5rem;
    }
    &--subtitle {
      font-size: $very-small-font-size;
      padding: 0 1.5rem;
    }
  }
}

/// slides-item page
.slides-item {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  padding: 5em 0;
  margin: auto;
  &--main {
    position: relative;
    overflow: hidden;
    padding-top: 80%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  &--title {
    margin-top: 2rem;
    font-size: $medium-font-size;
    font-weight: 500;
  }
  &--subtitle {
    font-size: $small-font-size;
    margin-top: 1rem;
    line-height: 1.5em;
    color: $heavy-gray-color;
  }
  @media screen and (max-width: $mobile-width) {
    width: 90%;
    &--title {
      font-size: $small-font-size;
    }
    &--subtitle {
      font-size: $very-small-font-size;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
