@import "./common.scss";
@import "./variables.scss";

///About Home page
.index {
  display: flex;
  flex-direction: column;
  width: $content-width;
  margin: 5em auto;
  font-family: $lato-font-family;
  &--title {
    font-size: $large-font-size;
    font-weight: bold;
  }
  &--subtitle {
    padding-top: 1em;
    font-size: $medium-font-size;
    color: $heavy-gray-color;
  }
  @media (max-width: $mobile-width) {
    width: 80%;
    &--title {
      font-size: $medium-font-size;
    }
    &--subtitle {
      font-size: $very-small-font-size;
    }
  }
}

.blog-container_bg {
  background-color: $light-gray-color;
  min-height: calc(100vh - 80px); //Gray bg color till end of top page.
}
.blog-container {
  padding: 5rem 0;
  display: grid;
  width: $content-width;
  margin: auto;
  @media (max-width: $mobile-width) {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}

.blog-item {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 50%;
  height: 400px;
  box-shadow: 0 0 5px $gray-color;
  border-radius: 5px;
  cursor: pointer;
  &--pic {
    background: white;
    box-shadow: 0 0 2px $gray-color;
    text-align: center;
    height: 50%;
    img {
      height: 100%;
    }
  }
  &--container {
    padding-left: 3rem;
    border-bottom: solid 1px $gray-color;
  }
  &--container-title {
    font-size: $medium-font-size;
    font-family: $lato-font-family;
    font-weight: bold;
    padding: 1rem 0;
  }
  &--container-subtitle {
    font-size: $small-font-size;
    font-family: $lato-font-family;
    padding: 1rem 0;
  }
  &--container-readmore {
    font-size: $small-font-size;
    font-family: $lato-font-family;
    color: $red-color;
    font-weight: bold;
    padding: 2rem 0;
  }

  &--date {
    font-size: $small-font-size;
    font-family: $lato-font-family;
    padding: 1rem 3rem;
    color: $gray-color;
  }
  @media (max-width: $mobile-width) {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    &--pic {
      img {
        width: 100%;
      }
    }
    &--container-title {
      font-size: $small-font-size;
    }
    &--container-subtitle {
      font-size: $very-small-font-size;
    }
    &--container-readmore {
      font-size: $very-small-font-size;
    }
    &--date {
      font-size: $very-small-font-size;
    }
  }
}

/// About page.
.about-container {
  min-height: calc(100vh - 80px - 50px); ///Minus header and footer height.
  width: $content-width;
  margin: 5em auto;
  &--index {
    margin: 10em 0;
    font-family: $lato-font-family;
  }
  &--index-title {
    font-size: $large-font-size;
    font-weight: bold;
  }

  &--index-subtitle,
  &--index-subtitle-name {
    margin-top: 1em;
    font-size: $medium-font-size;
    line-height: 1.5em;
    color: $heavy-gray-color;
  }
  &--index-subtitle-name {
    font-weight: bold;
  }
  &--index-subtitle-text {
    margin-top: 1em;
    font-size: $small-font-size;
    color: $heavy-gray-color;
    line-height: 1.5em;
  }
  &--index-sns {
    display: flex;
    flex-direction: row;
  }
  &--index-sns-item {
    width: 40px;
    margin: 2em 1em 2em 0;
  }
  @media (max-width: $mobile-width) {
    width: 80%;
    &--index {
      margin: 0 0 5em 0;
    }
    &--index-title {
      font-size: $medium-font-size;
    }
    &--index-subtitle,
    &--index-subtitle-name {
      font-size: $very-small-font-size;
    }
    &--index-subtitle-text {
      font-size: $sp-desc-small-font-size;
    }
    &--index-sns-item {
      width: 25px;
    }
  }
}

//Blog content page
.blog-content {
  width: $content-width;
  margin: 5em auto;
  font-family: $lato-font-family;
  min-height: calc(100vh - 80px - 5em);

  &--top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  &--top-pic {
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 2px $gray-color;
    background-color: white;
    img {
      height: 100%;
    }
  }
  &--top-date {
    font-size: $small-font-size;
    color: $gray-color;
    width: 100%;
    text-align: end;
    padding: 1em 1em 0 0;
  }
  &--draft {
    margin: 5rem 0 0 3rem;
  }
  &--draft-title {
    font-size: $large-font-size;
    font-weight: bold;
  }
  &--draft-text {
    margin-top: 1rem;
    font-size: $small-font-size;
  }
  @media (max-width: $mobile-width) {
    width: 90%;
    &--top-pic {
      height: 200px;
      img {
        height: auto;
        width: 100%;
      }
    }
    &--top-date {
      font-size: $very-small-font-size;
    }
    &--draft-title {
      font-size: $medium-font-size;
    }
    &--draft-text {
      font-size: $small-font-size;
    }
  }
}
