$light-gray-color: #f9f9f9;
$gray-color: #c4c4c4;
$heavy-gray-color: #a0a0a0;
$red-color: #ff6464;
$marker-red-color: #fdcdcd;
$blue-color: #446b8f;
$deep-blue-color: #2b4a67;
$text-base-color: #3f3f3f;

$very-large-font-size: 5rem;
$large-font-size: 3.6rem;
$medium-font-size: 2.4rem;
$small-font-size: 1.8rem;
$very-small-font-size: 1.4rem;
$sp-desc-small-font-size: 1rem;

$armata-font-family: "Armata";
$notoSansJP-font-family: "Noto Sans JP";

$content-width: 1080px;
$mobile-width: 798px;
