$light-gray-color: #F9F9F9;
$gray-color: #C4C4C4;
$heavy-gray-color: #A0A0A0;
$red-color: #FF6464;
$marker-red-color: #FDCDCD;
$blue-color: #446B8F;
$text-base-color: #3F3F3F;

$very-large-font-size: 5.0rem;
$large-font-size: 3.6rem;
$medium-font-size: 2.4rem;
$small-font-size: 1.8rem;
$very-small-font-size: 1.4rem;
$sp-desc-small-font-size: 1rem;

$armata-font-family: 'Armata';
$lato-font-family: 'Lato';
$notoSansJP-font-family: 'NotoSansJP';

$content-width: 1080px;
$mobile-width: 798px;
