@import "../../styles/variables.scss";

.event-item {
  width: 100%;
  min-height: 500px;
  display: flex;

  &--image {
    flex: 1;
    text-align: center;
    padding: 0 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--title {
      font-size: $large-font-size;
      font-weight: bold;
      color: $deep-blue-color;
    }

    &--place {
      font-size: $small-font-size;
      color: $heavy-gray-color;
      text-decoration: underline;
    }

    &--description {
      margin-top: 10px;
      font-size: $very-small-font-size;
      color: $gray-color;
      text-overflow: ellipsis;
    }
  }
}
