@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

$light-gray-color: #F9F9F9;
$gray-color: #C4C4C4;
$red-color: F80202;

$large-font-size: 3.6rem;
$medium-font-size: 2.4rem;
$small-font-size: 1.8rem;

$armata-font-family: 'Armata';
